@import url('https://fonts.googleapis.com/css?family=El+Messiri|Julius+Sans+One|Marmelad|Inconsolata');

div.dasup {
	width: 100%;
	height: 70px;
	background: #cacaca;
}

div.bung {
	width: 25%;
	height: 70px;
	display: inline-block;
}

div.dul {
	width: 20%;
	height: 70px;
	display: inline-block;
}

div.dul img {
	width: 40px;
	margin: 13px 0px 0px 20px;
	border: 2px solid white;
	border-radius: 10em;
}

div.dil {
	width: 80%;
	height: 70px;
	display: inline-block;
	float: right;
}

div.dil h1 {
	color: black;
	font-family: monospace;
	font-size: 30px;
	display: inline-block;
	margin-top: 15px;
}

div.dasup div.profil {
	width: 30%;
	height: 70px;
	float: right;
	display: inline-block;
}

div.dasup div.profil div.logout {
	width: 30%;
	height: 70px;
	border-right: 2px solid white;
	display: inline-block;
	padding: 20px 0px 0px 1px;
	font-size: 20px;
	text-align: center;
}

div.dasup div.profil div.logout p {
	font-family: monospace;
}

div.dasup div.profil div.nama {
	width: 75%;
	height: 70px;
	color: white;
	display: inline-block;
	float: left;
	text-align: center;
	padding: 6px 0px 0px 0px;
	font-family: monospace;
	font-size: 20px;
}

div.dasup div.profil div.icon {
	width: 70%;
	height: 70px;
	border: 1px solid black;
	display: inline-block;
	float: right;
	text-align: right;
	background: #505050;
}

div.dasup div.profil div.icon img {
	width: 67px;
}

/*MENU LEFT*/
div.dasleft {
	width: 25%;
	height: 625px;
	background: white;
	padding-top: 20px;
	position: relative;
	display: inline-block;
}

div.dasleft h1 {
	color: black;
	font-style: normal;
	font-family: 'El Messiri', sans-serif;
	margin: 40px 0px 0px 60px;
}

div.dasleft img {
	width: 24px;
}

div.dasleft h1:first-child {
	margin-top: 0px;
}

div.dasleft span {
	color: #bd1e1e;
}


div.copy {
	width: 100%;
	height: 100px;
	border-top: 1px solid #00000078;
	background: #cacaca;
	position: absolute;
	bottom: 0px;
	font-family: 'Inconsolata', monospace;
	padding-top: 20px;
}

div.copy h3, h4 {
	text-align: center;
	margin-top: 5px;
}

/*MENU RIGHT*/
div.dasright {
	width: 75%;
	height: 625px;
	background: white;
	float: right;
	padding: 30px 50px 50px;
}

table {
	color: black;
	width: 100%;
	border-collapse: collapse;
	font-family: 'El Messiri', sans-serif;
}

table tr {
	height: 40px;
}

table tr:nth-child(2n) {
	background: #cacaca;
}

a {
	text-decoration: none;
	color: black;	
}

a:hover {
	color: #444358;
}

table tr .ed {
	color: white;
	cursor: pointer;
	border-right: 1px solid white;
	border-left: 1px solid white;
}

table tr .it {
	background: darkgreen;
}

table tr .it:hover {
	background: #028002;
}

table tr .del {
	background: maroon;
}

table tr .del:hover {
	background: #a50303;
}

			/*PAGE ADD ARTICLE*/

div.dasright h2 {
	font-family: 'Inconsolata', monospace;
	text-decoration: none;
	margin: 0px 0px 5px 0px;
	text-align: center;
}

div.dasright .art {
	width: 100%;
	padding-left: 8px;
	font-size: 20px;
	font-family: 'El Messiri', sans-serif;
	color: black;
	outline: none;
	border: 3px solid #cacaca;
	margin: 20px 0px 30px 0px;
}

input.tit {
	height: 30px;
}

textarea.isi {
	height: 250px;
}

div.artcat {
	width: 50%;
	height: 30px;
	font-family: 'El Messiri', sans-serif;
	cursor: pointer;
	display: inline-block;
}

div.dasright p {
	font-family: monospace;
	margin-bottom: 3px;
}

div.dasright div.artcat p {
	padding: 1px 10px;
	border: 1px solid black;
	display: inline-block;
	background: #cacaca;
	margin: 0px 0px 3px 0px;
	font-family: 'El Messiri', sans-serif;
}

div.dasright div.artcat p:hover {
	background: #ab7272;
	border: 1px solid #cacaca;
}

div.but {
	float: right;
	display: inline-block;
	width: 30%;
	height: 40px;
}

div.but button {
	width: 70%;
	height: 40px;
	float: right;
	background: #cacaca;
	border: none;
	cursor: pointer;
	outline: none;
	font-family: 'El Messiri', sans-serif;
	font-size: 20px;
}

div.but button:hover {
	background: #505050;
	color: white;
	font-family: 'El Messiri', sans-serif;
}