@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Marmelad|El+Messiri');

body {
	width: 100%;
	height: auto;
}

/*JUDUL*/
div.detjud {
	width: 100%;
	height: 150px;
	background: white;
	border-bottom: 5px solid darkslategray;
	padding: 20px 0px 20px 20px;
	position: sticky;
	top: 0px;
	box-shadow: 0px 5px 10px;
	z-index: 1;
}

div.detjud h1 {
	font-weight: normal;
	font-size: 38px;
	font-family: 'Julius Sans One', sans-serif;
	margin-bottom: 10px;
}

div.detjud p {
	font-size: 15px;
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	margin-top: 10px;
}

/*LIST LEFT*/
div.detleft {
	width: 30%;
	height: 600px;
	background: white;
	border-right: 5px solid darkslategray;
	padding: 30px 30px;
	display: inline-block;
	position: sticky;
	top: 130px;
	z-index: 0;
}

div.subdet {
	width: 100%;
	height: 100px;
	overflow: hidden;
	margin: 20px 0px 10px 0px;
}

div.subdet div.aa {
	width: 40%;
	height: 100px;
	background-size: cover;
	display: inline-block;
}

div.subdet div.bb {
	width: 60%;
	height: 100px;
	float: right;
	padding: 5px 10px;
	font-family: 'Marmelad', sans-serif;
}

div.subdet div.bb a {
	text-decoration: none;
	color: black;
}

div.subdet div.bb a:hover {
	color: darkslategray;
}


/*LIST RIGHT*/
div.detright {
	width: 70%;
	height: auto;
	background: white;
	padding: 30px 30px;	
	float: right;
	position: static;
}

div.img {
	width: 100%;
	height: 400px;
	background-size: cover;
	margin-bottom: 50px;
}

div.timpa {
	width: 100%;
	height: 400px;
	padding: 250px 0px 0px 20px;
	color: transparent;
}

div.timpa:hover {
	background: #00000036;
	color: white;
}

div.timpa h1 {
	font-family: 'Marmelad', sans-serif;
	font-size: 60px;
	font-weight: normal;
}

div.timpa p {
	font-family: 'Marmelad', sans-serif;
}

	/*ARTIKEL*/
	div.detright p {
		font-family: 'Marmelad', sans-serif;
		margin-bottom: 30px;
	}

/*COMENT*/
div.detright ul {
	margin: 20px 0px 0px 20px;	
	font-family: 'El Messiri', sans-serif;
}

div.detright ul li {
	list-style: none;
}

/*CI CUSTOM IMAGE*/
div.subdet div.aa img {
	width: 100%;
}

div.img.timpa img {
	width: 100%;
}