@import url('https://fonts.googleapis.com/css?family=Handlee|Josefin+Sans|Merienda');

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	/*background-image: url(img/5.png);*/
	background: #333;
	background-attachment: fixed;
	background-size: cover;
}

div.sign {
	width: 100%;
	height: 695px;
	padding-top: 190px;
}

div.up {
	position: sticky;
	top: 0;
}

div.in {
	position: sticky;
	top: 0px;
}


/*BUNGKUS FORM*/
div.box {
	width: 40%;
	height: 300px;
	margin: 0px auto 0px;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	border-radius: 2px;
	box-shadow: 0px 10px 20px;
	/*background-image: url(img/5.png);*/
	background: #333;
	background-position: center;
	background-size: cover;
}

form {
	width: 100%;
	height: 100%;
}


/*BLLOCK INPUT*/
div.input {
	width: 70%;
	height: 100%;
	/*background: #4f5d73;*/
	padding: 30px 30px;
	display: inline-block;
}

div.input h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color: white;
	font-weight: normal;
}

input {
	width: 100%;
	height: 30px;
	margin: 5px 0px 25px;
	border: 1px solid black;
	padding-left: 10px;
	font-family: 'Handlee', cursive;
	font-size: 20px;
	border-radius: 3px;
	outline: none;
}



/*BLOCK BUTTON*/
div.button {
	width: 30%;
	height: 100%;
	background: #31363e;
	float: right;
	position: relative;
	border-left: 2px solid white;
}

div.button button {
	width: 100%;
	height: 30%;
	margin: 105px 0px;
	position: absolute;
	border-style: none;
	background: #1b3251;
	cursor: pointer;
	color: white;
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;
	transition: 1s;
	border-right: 2px solid white;
}

div.button button:hover {
	margin: 0px 0px;
	height: 100%;
	color: #1b3251;
	background: white;
}

/*TEXT*/
p {
	color: white;
	text-align: center;
	margin-top: 20px;
	font-family: 'Merienda', cursive;
	font-size: 30px;
	text-shadow: 2px 4px black;
}

h5 {
	color: white;
	text-align: center;
	font-family: 'Merienda', cursive;
	text-shadow: 2px 2px black;
}

/*LOGIN*/
div.in .input h4{
	text-align: center;
	margin-top: 50px;
	font-size: 15px;
}

div.in .input h4 a{
	text-decoration: none;
	color: white;
	font-family: monospace;
	text-align: center;
}

div.sign.in p, h5 {
	text-decoration: line-through;
	text-decoration-color: #466c99;
	text-shadow: none;
}