@import url('https://fonts.googleapis.com/css?family=Anton|Changa|Bai+Jamjuree|Encode+Sans+Condensed|Kaushan+Script|Titillium+Web|Rancho|Marcellus+SC');

@import url(detail.css);
@import url(dashboard.css);

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background: #191919;
	height: auto;
}

/*NAVIGASI BAR*/
div.nav {
	position: sticky;
	top: 0;
	width: 100%;
}

div.logo img {
	width: 90px;
}

div.nav div.up {
	width: 100%;
	height: 10px;
	background-color: #4f5d73;
}

div.nav div.mid {
	background-color: #31363e;
	width: 100%;
	height: 70px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

div.nav div.mid h1 {
	display: inline-block;
	color: white;
	font-family: monospace;
	font-size: 60px;
	line-height: 65px;
	margin-left: 100px;
}

	/*MENU*/
	div.nav div ul {
		float: right;
		width: 600px;
		text-align: center;
	}

	div.nav div ul li {
		display: inline-block;
	}

	div.nav div ul li a {
		font-family: monospace;
		font-size: 25px;
		display: inline-block;
		text-decoration: none;
		color: white;
		padding: 18.3px 30px;
		transition: 1s;
		border-right: 10px solid transparent;
	}

	div.nav div ul li a:hover {
		padding: 18.3px 30px;
		color: black;
		background: white;
		font-weight: bold;
		border-right: 10px solid #4f5d73;
	}

/*TOMBOL FOLLOW*/
div.follow {
	width: 100%;
	height: 80px;
	text-align: center;
	/*background-image: url(img/4.jpg);*/
	background: #2f2f2f;
	background-size: cover;
}

div.follow img {
	width: 50px;
	margin: 15px 190px;
	border: 5px solid white;
	border-radius: 100px;
	transition: 0.3s;
}

div.follow img:hover {
	border: 10px solid white;
}

/*ARTIKEL JUDUL*/
div.sticky {
	width: 100%;
	height: 65px;
	background: white;
	box-shadow: 0px 5px 20px;
	position: sticky;
	top: 90px;
	text-align: center;
	border-top: 5px solid black;
	border-bottom: 0px solid black;
}

div.sticky h1 {
	color: black;
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
	-webkit-text-stroke: 1px black;
}

/*ISI ARTIKEL*/
div.content {
	width: 95%;
	height: 500px;
	margin: 20px auto 0px;
}

div.sub {
	width: 49%;
	height: 400px;
	border-radius: 5px;
	border: 2px solid white;
}

div.left {
	float: left;
	overflow: hidden;
	background-size: cover;
}

div.titel {
	width: 100%;
	height: 100%;
	cursor: pointer;
	color: transparent;
	padding: 20px 30px;
}

div.titel:hover {
	background: #00000042;
	color: #ececec;
}

div.titel h1 {
	font-family: 'Marcellus SC', serif;
	font-size: 50px;
	font-style: normal;
}

div.right {
	float: right;
}

div.cuplikan {
	width: 100%;
	height: 80%;
	background: white;
	text-align: center;
	padding: 50px 50px 0px;
}

div.cuplikan p {
	font-size: 25px;
	font-family: 'Encode Sans Condensed', sans-serif;
}

div.cuplikan1 {
	width: 100%;
	height: 20%;
	background: #4f5d73;
}

div.cuplikan1 div.author {
	width: 60%;
	display: inline-block;
	padding-top: 20px;
}

div.cuplikan1 div.author p {
	display: inline-block;
	padding: 10px 20px;
	background: #31363e;
	font-family: 'Kaushan Script', cursive;
	color: white;
	border-right: 10px solid white;
	transition: 1s;
}

div.cuplikan1 div.author p:hover {
	padding: 10px 50px;
	border-right: 2px solid white;
	color: #afafaf
}

div.read {
	width: 20%;
	height: 100%;
	float: right;
	background: #31363e;
	text-align: center;
	line-height: 80px;
	transition: 1s;
	border-left: 10px solid white;
}

div.read:hover {
	width: 40%;
	border-left: 2px solid white;
}

div.read a {
	text-decoration: none;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	transition: 1s;
}

div.read a:hover {
	color: #afafaf;
	font-size: 30px;
}

/*FOOTER*/
div.footer {
	width: 100%;
	height: 250px;
	background: black;
	border-top: 5px solid #2f2f2f;
	clear: both;
	position: sticky;
}

div.fleft {
	width: 30%;
	height: 100%;
	border-right: 2px solid white;
	display: inline-block;
	text-align: center;
	display: inline-block;
 }

 div.fleft h1 {
 	color: white;
 	font-weight: normal;
 	font-family: 'Rancho', cursive;
 	margin-top: 10px;
 }

 div.fleft p {
 	margin: 25px 0px 0px;
 }

 div.fleft p a{
 	padding: 5px 10px;
 	background: #ffffff21;
 	border: 1px solid white;
 	border-radius: 2px;
	font-size: 15px;
	text-decoration: none;
	color: white;
 }

 div.fleft p.pe {
 	color: white;
 	font-size: 25px;
 	font-family: 'Rancho', cursive;
 }

div.fright {
	width: 70%;
	height: 100%;
	border-left: 5px solid #2f2f2f;
	float: right;
	display: inline-block;
	position: relative;
}

div.fr {
	width: 100%;
	height: 50%;
	position: absolute;
}

div.fr.ups form {
	width: 80%;
	height: 30%;
	background: green;
	margin: 40px auto 0px;
	border-radius: 5px;
	overflow: hidden;
}

div.fr.ups button {
	width: 30%;
	height: 100%;
	border-style: none;
	background: #4f5d73;
	color: white;
	font-size: 15px;
	cursor: pointer;
	outline: none;
}

div.fr.ups button:hover {
	background: #4e5f80;
}

div.fr.ups input {
	width: 70%;
	height: 100%;
	padding-left: 15px;
	font-size: 15px;
	float: right;
}

div.ups {
	border-bottom: 2px solid white;
}

div.bot {
	border-top: 5px solid #2f2f2f;
	bottom: 0;
	color: white;
	text-align: center;
	font-family: monospace;
	font-size: 15px;
	padding-top: 50px;
}